# Общие директории сборки
bin/
obj/

# Директории для тестов
TestResults/

# Файлы пользовательских настроек для Visual Studio
*.suo
*.user

# Файлы сборки
*.dll
*.exe
*.exe.config

# Каталоги пакетов (зависит от используемого менеджера пакетов)
# Для NuGet:
packages/
# Для .NET 5+/ .NET Core:
# ~/.nuget/

# Другие сгенерированные файлы
*.cache
*.log

# Файлы IDE
.vs/
*.user
